.footer-gradient {
    background: linear-gradient(180deg, #dceeff 0%, #1E90FF 100%);
}

.footer-link.linkedin {
    color: #0077B5;
   
}

.footer-link.gmail {
    color: #D93025;
    
}

.footer-link:hover {
    text-decoration: underline;
}



