.hero {
    background-image: url('../assets/background1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 50%;  */
    /* display: flex;
    align-items: center;
    justify-content: center;*/
    color: white;
  }
  